<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997352856929-ad80bsdo3vg0pk75q3mk8f8bj5j2hv52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997352856929-ad80bsdo3vg0pk75q3mk8f8bj5j2hv52</string>
	<key>API_KEY</key>
	<string>AIzaSyD1NuN5fotlSkEP9vgwYS7qJjW0exoXpqg</string>
	<key>GCM_SENDER_ID</key>
	<string>997352856929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiwivon.ToDoMoviles</string>
	<key>PROJECT_ID</key>
	<string>todomoviles-ebaf9</string>
	<key>STORAGE_BUCKET</key>
	<string>todomoviles-ebaf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997352856929:ios:e360f90cfe44d126b4f920</string>
</dict>
</plist>